<div class="pageContent">
    <form action="__URL__/update/navTabId/{:CONTROLLER_NAME}" id="j_custom_form" class="pageForm form-validate" method="post" callback="navTabAjaxDone" noEnter>
       <input type="hidden" name="id" value="{$vo.id}" />
        <div class="pageFormContent form-horizontal" layouth="20">

       <div class="form-group">
        <label for="j_title" class="control-label col-sm-2 ">资讯标题：</label>
        <div class="col-sm-5">
                
        <input type="text" class="form-control validate[required] required" name="title" id="j_title" value="{$vo.title}"  >
        
        <p class="help-block">标题必须填写</p>
                                      </div>
        </div>
         <div class="form-group">
                            <label for="j_description" class="control-label col-sm-2 ">内容：</label>
         <div class="col-sm-7">
         <textarea name="description" id="j_description"  class="j-content validate[required] required"" style="width: 700px;" uploadJson="{:U('File/ke_upimg')}" fileManagerJson="{:U('File/editorfilemanager')}"  minheight="200">{$vo.description}</textarea>
		<p class="help-block">内容必须填写</p>
         </div>
        </div>
                    
                    
         
         <div class="form-group" style="display:none;">
         <label for="j_type" class="control-label col-sm-2">类型：</label>
         <div class="col-sm-5">
         <select name="type"  data-container="body"  id="j_type" class="selectpicker show-tick validate[required]" data-style="btn-default btn-sel" data-width="auto">
                <option value="1">文章</option>
                <option  value="2">课程</option>
         </select>
          <p class="help-block">类型必选</p>
         </div>
         </div>    
 
		<div class="formBar">
            <ul>
                <li><button type="submit" class="btn btn-default btn-sm">保存</button></li>
                <li><button type="button" url="__URL__" class="btn btn-close btn-sm ">取消</button></li>
            </ul>
		</div>
    </form>
</div>