<div class="pageHeader">
<form id="pagerForm" action="__URL__" method="post">
	
	<input type="hidden" name="keyword" value="{$_REQUEST.keyword}"/>
	<input type="hidden" name="orderField" value="{$_REQUEST.orderField}">
        <input type="hidden" name="orderDirection" value="{$_REQUEST.orderDirection}">
        <input type="hidden" name="pageNum" value="{$_REQUEST['pageNum']|default=1}"/>
	<input type="hidden" name="numPerPage" value="{$numPerPage}"/>
	  
    
</form>
    <form onsubmit="return navTabSearch(this);" class="form-inline" action="__URL__" method="post">
       
        <div class="form-group" size="25">
         <label>关键字：</label><input type="text" value="{$_REQUEST.keyword}" name="keyword" class="form-control" size="15" />                            
         </div>
          <div class="form-group">
             <button type="submit" class="btn btn-warning btn-sm">查询</button>
             <a class="btn btn-primary btn-sm" href="javascript:navTab.reload('', {clearQuery:true});">清空查询</a>
                
           
        </div>
        
    </form>
    
</div>
<div class="pageContent">   

    <table class="j-table" width="100%" layoutH="95">
        <thead>
            <tr>
                <th width="30"></th>
                <th class="orderby <eq name="order" value="modulename">{$sortImg}</eq>" orderField="modulename">操作分组</th>
                <th class="orderby <eq name="order" value="actionname">{$sortImg}</eq>" orderField="actionname">操作模块</th>
                
                <th>备注</th>
                <th class="orderby <eq name="order" value="username">{$sortImg}</eq>" orderField="username">操作用户</th>

                <th class="orderby <eq name="order" value="userid">{$sortImg}</eq>" orderField="userid">操作用户ID</th>
                <th class="orderby <eq name="order" value="userip">{$sortImg}</eq>" orderField="userip">操作用户IP</th>
                <th class="orderby <eq name="order" value="create_time">{$sortImg}</eq>" orderField="create_time">操作时间</th>
                
            </tr>
        </thead>
        <tbody>

           <volist id="vo" name="list">
            <tr>
            <td></td>
            <td>{$vo['modulename']}</td>
					<td>{$vo['actionname']}</td>
                                        
                                        <td>{$vo['message']}</td>
					<td>{$vo['username']}</td>
                                        <td>{$vo['userid']}</td>
					<td>{$vo['userip']}</td>
					<td>{$vo['create_time']|toDate}</td>
               
            </tr>
            
          </volist>
        </tbody>
    </table>
<div class="panelBar">
        <div class="pages">
            <span>每页&nbsp;</span>
            <span class="sel">
                <select class="selectpicker show-tick dropup" data-style="btn-default btn-sel xs" data-width="auto" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                  <option value="5" <eq name="numPerPage" value="5">selected=selected</eq>>5</option>
				<option value="10" <eq name="numPerPage" value="10">selected=selected</eq>>10</option>
				<option value="15" <eq name="numPerPage" value="15">selected=selected</eq>>15</option>
				<option value="20" <eq name="numPerPage" value="20">selected=selected</eq>>20</option>
                </select>
            </span>
            <span>&nbsp;条，共 {$totalCount} 条</span>
        </div>
        <div class="pagination-box" targettype="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}">
        </div>
    </div> 
</div>
